/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$white: #fff;
$black: #000;
$charcoal: #191b20;
$grey: #666;
$green: #86d334;
$purple: #cb00b6;
$light-grey: #eeeeee;
