/* =============
    hero 2
============= */

#hero2{

    div{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: ". hero2-content .";

        ul{
            gap: 16px;
            display: grid;
            grid-area: hero2-content;
    
            li{}
        }
    }
} 