/* =============
    info
============= */

#info{
    ul{
        li{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". info-content .";

            a{
                grid-area: info-content; 
            }
        }
    }
}
