/* =============
    Section 8
============= */
#section-8 {
    .content-container{

        section{
           
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            
            grid-gap: 20px;

            article{
                margin-top: 20px;
                background-color: $purple;
                color: $white;
                padding: 10px 20px;
                h1{
                    font-size: rem-calc(25);
                    border-color: $black;
                }
                img{
                    width: 10%;
                }
            }
        }
    }
}