/* =============
    Section 11
============= */
#section-11 {

    a:link,
    a:visited {
        background-color: $charcoal;
        border: 1px solid $white;
        color: $white;
        display: inline-block;
        margin-top: 20px;
        padding: 20px;
        text-decoration: none;
        transition: 0.25s;
    }

    a:hover,
    a:active {
        background-color: $white;
        border: 1px solid $purple;
        color: $purple;
    }
}