/* =============
    services
============= */

#services{

    ul{
        li{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". services-content .";
    
            >div{
                grid-area: services-content; ;
                //border: 3px blue;
            }
        }
    }

}
