/* =============
    services
============= */

ul{
    li{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". planning-content .";

        >div{
            grid-area: planning-content; 
            border: 1px solid red;
        }
    }
}