/* =============
    whats new
============= */

#whatsnew{
    
    ul{
        li{
            img{
                width: 50%;
            }
            Section{
                display: grid;
                grid-template-columns: 16px auto 16px;
                grid-template-areas: ". whatsnew .";


                Div{
                    grid-area: whatsnew;

                }
            }
        }
    }
}
